.input-textarea.input-textarea {
  height: 160px;

  @media (max-width: 800px) {
    height: 80px;
  }
}

.input-error.input-error, .input-error.input-error:focus {
  background-color: var(--mostLightestRed);
  border-color: var(--red);
}
